.toolss-header {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid fuchsia;
    border-radius: 10px;
    width: 400px;
    margin-left: 340px;
}

.inventories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #22e6d5fd;
    padding: 10px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
    .inventories-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        background-color: #212c4bfd;
        padding: 10px;
    }

    .manage-button {
        margin-left: 35px;
        margin-top: 15px;
        width: 300px;
        height: 50px;
        background-color: blueviolet;
        font-size: 25px;
    }
}